/* 全体 */
* {
  position: relative; /* 相対位置 */
}
.ffo {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin-left: 5%;
}

/* 背景 */
.container {
  height: 100vh; /* 高さの割合vh */
  width: 100vw; /* 幅の割合vw */
  display: flex; /* 子要素をflexコンテナーとして定義 並列 */
  justify-content: center; /* 横方向(主軸)を自動でマージンる */
  align-items: center; /* 縦方向(交差軸)を自動でマージンする */
  background: #e5e6e8; /* 一括指定 */
}

/* サンプラー本体 */
.sampler {
  font-family: 'Overpass Mono', monospace;
  padding: 1em; /* 上下左右の余白 emはフォントサイズ基準 */
  width: 40em; /* 幅 */
  height: 30em; /* 高さ */
  border: 2px solid; /* ボーダー一本線 */
  display: flex;
  background: #141414; /* MadBlack #141414 ,navy #1e1e6c */
  border-radius: 22px; /* 角を丸める */
  overflow: hidden; /* 要素がはみ出た場合隠す */
  box-shadow: 0px 14px 5px 0px lightgray; /* 影 */
  transition: box-shadow: 0.1s; /* 動きをつけたときの影の時間 */
}

.sampler.highlight {
  box-shadow: 0px 0px 20px 5px gray;
}

/* サンプラー上部と(下部) */
.bottom-plate,
.top-plate {
  position: absolute; /* 絶対位置 サンプラー左上が基準 */
  width: 100%; /* 幅, %親要素に対して */
  height: 2.0em; /* 高さはフォントサイズ基準 */
  background: #313234;
  margin-left: -1em; /* 左側のマージン領域 -で近づけている */
  margin-top: -1em; /* 上側のマージン領域 */
  box-shadow: 0px 4px 5px #77777e inset, 0px -8px 5px #28292a inset; /* 上下の影 */
  border-bottom: 10px solid; /* 下部線 */
  z-index: 1000; /* 重なりの順序 */
}

/* 電源ボタン */
.on-button {
  position: absolute; /* 絶対位置 サンプラー左上が基準 */
  height: 0.9em; /* 高さ */
  width: 1.3em; /* 幅 */
  background: #eb5044; /* 赤 */
  border-radius: 50%; /* 円 */
  top: 3.5%; /* 上からの距離 */
  left: 94.4%; /* 左からの距離 */
  -webkit-transform: translateY(-50%); /* webkitは先行実装である識別子 */
          transform: translateY(-50%); /* Y軸に変形させる */
  cursor: pointer; /* カーソルをポインターにする */
  box-shadow: #f4ccc9 0px 0px 4px 4px; /* 影 */
  z-index: 1000; /* 重なりの順序 */
}

/* サンプラー下部 */
.bottom-plate {
  top: 98%; /* 上からの距離 */
  z-index: 0; /* 重なりの順序 */
  left: 2.5%; /* 左からの距離 */
  border-top: 4px solid; /* 上部の線 */
  height: 1.5em; /* 高さ */
}

/* padの全体部分 */
.pad-container {
  position: absolute; /* 絶対位置 サンプラー左上が基準 */
  top: 60%; /* 上からの距離 */
  right: 3%; /* 右からの距離 */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 55%; /* 高さ */
  width: 19em; /* 幅 */
  display: flex; /* 並列 */
  flex-wrap: wrap; /* 折り返し、左から揃える */
  padding: 0 0.2em 0 0; /* 余白上0右0.5em下0.5em右0 */
}

/* pad */
.pad {
  height: 4.3em; /* 高さ */
  width: calc(50% * (1/3)); /* 幅を3分割 */
  border: 2.5px solid; /* 線 */
  background: #bababa;
  margin-left: 0.5em; /* 左側余白 */
  margin-top: 0.5em; /* 上側余白 */
  flex-grow: 1; /* pad-container内で有効な空間を等しく割り当てる */
  box-shadow: #ededed 0px 3px 0px inset, #7a7a7a 0px -3px 0px inset, #adadad 0px 1px 0px;
  z-index: 10; /* 重なりの順序10 */
  display: flex; /* 並列 */
  justify-content: center; /* 横方向を自動で余白をつける */
  align-items: center; /* 縦方向を自動で余白をつける */
  cursor: pointer; /* カーソル */
  color: #444;
}

/* pad押した時の反応 */
.pad.pressed {
  box-shadow: #939393 -3px 3px 2px inset;
  top: 3px;
  color: #666;
}

/* 飾り全体 */
.detail-strip {
  top: 3%;
  left: 51%;
  width: 19.8em;
  height: 23.0em;
  margin-top: 3.3em;
  background: #313234;
}

/* 飾りone */
.strip-one {
  height:5px;
  width: 6em;
  background: #8d8d8d;
  right: 0;
  bottom: 80%;
  position: absolute;
}

/* 飾りtwo */
.strip-two {
  height: 3px;
  width: 4em;
  background: #8d8d8d;
  right: 0;
  bottom: 85%;
  position: absolute;
}

/* 飾りthree */
.strip-three {
  height: 1em;
  width: 5em;
  background: #f89d82;
  left: 10%;
  bottom: 88%;
  position: absolute;
}

/* 飾り four */
.strip-four {
  height: 5px;
  width: 2em;
  background: #f89d82;
  left: 38%;
  bottom: 88%;
  position: absolute;
}

.strip-five {
  height: 5px;
  width: 2em;
  background: #8d8d8d;
  left: 72%;
  top: 80%;
  position: absolute;
  z-index: 1000;
}

/* bank-container */

/* bank-one */
.bank-two,
.bank-one {
  height: 1.6em; /* 高さ */
  width: 3.8em; /* 幅 */
  border-radius: 20%; /* 円 */
  background: #8d8d8d;
  left: 54%; /* 左からの距離 */
  top: 27%; /* 上からの距離 */
  display: flex; /* 並列 */
  justify-content: center; /* 横方向を自動で余白をつける */
  align-items: center; /* 縦方向を自動で余白をつける */
  position: absolute; /* サンプラー本体の左上が基準 */
  cursor: pointer; /* カーソルをポインターにする */
  color: #444;
}

/* bank-oneがアクティブの時 */
.bank-two.active,
.bank-one.active {
  background: #31bd33;
  box-shadow: 0px 0px 5px 2px #3bff48;
}
/* bank-two */
.bank-two {
  left: 66%; /* 左からの距離 */
}
.bank-two.active {
  background: #f57752;
  box-shadow: 0px 0px 5px 2px #f89d82;
}

/* スクリーン */
.screen {
  position: absolute; /* サンプラーの左上が基準 */
  height: 7.4em;
  width: 18em;
  background: #c4e4cd;
  left: 4.5%;
  bottom: 67.2%;
  box-shadow: #4a505a 0px 0px 0px 3px inset, #616976 0px 0px 2px 12px inset, 0px 3px 2px 0px lightgray;
  display: flex; /* 並列にする */
  justify-content: center; /* 横軸を自動で余白つける */
  align-items:center; /* 縦軸を自動で余白つける */
}

/* スクリーンの中 */
.screen-info {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2.0em;
  place-self: center;
}

/* ストラップ */
.strap {
  position: absolute;
  width: 2.5em;
  height: 0%;
  background: black;
  z-index: 100000;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0px 5px 2px;
}

/* ストラップone */
.strap.one {
  left: 25%;
}
/* ストラップtwo */
.strap.two {
  left: 75%;
}

/* ダイアル部分 */
.dial-panel {
  position: absolute; /* 絶対位置 サンプラー左上が基準 */
  top: 41%; /* 上からの距離 */
  left: 28%; /* 右からの距離 */
  height: 25%;
  width: 8em;
  display: grid;
}

.dial {
  background: rgb(75, 75, 75);
  border-radius: 50%;
  height: 5.8em;
  width: 5.8em;
  box-shadow: #ededed 0px 1px 0px inset, #7a7a7a 0px -2px 0px inset, #adadad 0px 1.5px 0px;
  margin: 0.5em auto;
  left: 8%;
}

.dial-inner-1 {
  border: 2px solid rgb(75, 75, 75);
  border-radius: 50%;
  height: 3.9em;
  width: 3.9em;
  margin-left: 2.5em;
  margin-top: -6.4em;
  box-shadow: #ededed 0px 0.4px 0px inset, #7a7a7a 0px -1px 0px inset, #adadad 0px 1px 0px;
}

.dial-inner-2 {
  position: relative;
  background: rgb(75, 75, 75);
  border-radius: 50%;
  height: 1.7em;
  width: 1.7em;
  box-shadow: #ededed 0px 0.2px 0px inset, #7a7a7a -1px 0.5px 1px 1px inset;
  margin-left: 2.8em;
  margin-top: -5.1em;
}

/* ここからコピペ */
.handle {
  height: 5em;
  width: 15em;
  background: #9ea0a9;
  position: fixed;
  top: 40%;
  border: 8px solid;
  border-bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.handle .handle-inner {
  position: absolute;
  height: 50%;
  width: 80%;
  background: #e5e6e8;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-40%);
          transform: translateX(-50%) translateY(-40%);
  border: 8px solid;
  border-bottom: 0;
}

/* スライダー */
#slider {
  background: white;
  color: red;
  z-index: 100;
  height: 150px;
  width: 1px;
  position: absolute;
  left: 3%;
  bottom: 10%;
  border: 0px solid #252525;
  border-radius: 0;
}

.ui-corner-all {
  background: darkgray;
}

/* スライダーのハンドル */
.ui-widget-content > .ui-state-default {
  position: absolute;
  border: 0;
  width: 28px;
  height : 12px;
  background: linear-gradient(180deg, #77777e 40%, white 41%, #606b6e 59%, #77777e 60%);
  cursor: pointer;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  border-radius: 0;
}
.ui-widget-content > .ui-state-default:active {
  outline: none;
}
.ui-widget-content > .ui-state-default:focus {
  outline: none;
}
